# More Census Demographic Data
## ACS Data

In [38]:
import pandas as pd

## 2011

In [39]:
ACS2011 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2013.DP05-Data.csv')
ACS2011

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0079PM,DP05_0080E,DP05_0080M,DP05_0080PE,DP05_0080PM,DP05_0081E,DP05_0081M,DP05_0081PE,DP05_0081PM,Unnamed: 326
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Percent!!SEX AND AGE!!Total population!!Male,Percent Margin of Error!!SEX AND AGE!!Total po...,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Margin of Error!!HISPANIC OR LATINO AND RACE!!...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Estimate!!Total housing units,Margin of Error!!Total housing units,Percent!!Total housing units,Percent Margin of Error!!Total housing units,NaN
1,5001300US0101,"Congressional District 1 (113th Congress), Ala...",695176,3377,695176,(X),336283,2736,48.4,0.3,...,0.1,10424,2569,1.5,0.4,326125,1422,(X),(X),NaN
2,5001300US0102,"Congressional District 2 (113th Congress), Ala...",690074,6903,690074,(X),335331,4255,48.6,0.3,...,0.2,10135,1764,1.5,0.3,310496,2410,(X),(X),NaN
3,5001300US0103,"Congressional District 3 (113th Congress), Ala...",697761,3849,697761,(X),340944,2874,48.9,0.4,...,0.2,9469,1993,1.4,0.3,318694,1848,(X),(X),NaN
4,5001300US0104,"Congressional District 4 (113th Congress), Ala...",685175,4519,685175,(X),333159,3982,48.6,0.5,...,0.1,8640,1776,1.3,0.3,310413,1956,(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,5001300US5506,"Congressional District 6 (113th Congress), Wis...",713224,2649,713224,(X),356519,2353,50.0,0.2,...,0.1,9878,1349,1.4,0.2,321642,1217,(X),(X),NaN
434,5001300US5507,"Congressional District 7 (113th Congress), Wis...",715263,3467,715263,(X),361002,2393,50.5,0.2,...,0.1,8857,1097,1.2,0.2,414689,1457,(X),(X),NaN
435,5001300US5508,"Congressional District 8 (113th Congress), Wis...",720600,1398,720600,(X),362580,1661,50.3,0.2,...,0.1,10432,1720,1.4,0.2,340774,1114,(X),(X),NaN
436,5001300US5600,Congressional District (at Large) (113th Congr...,582658,*****,582658,(X),297497,2320,51.1,0.4,...,0.1,11940,1901,2.0,0.3,265471,91,(X),(X),NaN
437,5001300US7298,Resident Commissioner District (at Large) (113...,3615086,*****,3615086,(X),1729120,3404,47.8,0.1,...,0.1,5760,1360,0.2,0.1,1572849,6980,(X),(X),NaN

### Dropping Columns
We can borrow our functions from the education data.

In [40]:
def dropColumns1315(dataframe):
    featureList = ['NAME', # CD Name
                    'DP05_0017E', # Median age
                    'DP05_0066PE', # % Hispanic or Latino
                    'DP05_0072PE', # % White, not hispanic
                    'DP05_0073PE', # % Black, not hispanic
                    'DP05_0074PE', # % Native american, not hispanic
                    'DP05_0075PE', # % Asian, not hispanic
                    ]

    featureDict = {
        'NAME': 'Congressional District',
        'DP05_0017E':'MedianAge',
        'DP05_0066PE':'Hispanic',
        'DP05_0072PE':'White',
        'DP05_0073PE':'Black',
        'DP05_0074PE':'NativeAmerican',
        'DP05_0075PE':'Asian'
    }

    dataframe = dataframe[featureList]
    dataframe = dataframe.rename(columns = featureDict)
    dataframe = dataframe.drop(index = 0)
    return dataframe

ACS2011 = dropColumns1315(ACS2011)
ACS2011['year'] = 2011
ACS2011

,Congressional District,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year
1,"Congressional District 1 (113th Congress), Ala...",38.5,3.0,65.4,27.9,0.7,1.4,2011
2,"Congressional District 2 (113th Congress), Ala...",37.9,3.2,62.6,31.1,0.3,1.0,2011
3,"Congressional District 3 (113th Congress), Ala...",37.4,2.7,68.3,25.5,0.2,1.5,2011
4,"Congressional District 4 (113th Congress), Ala...",40.3,6.2,83.8,7.3,0.7,0.6,2011
5,"Congressional District 5 (113th Congress), Ala...",38.7,4.9,73.4,17.2,0.6,1.7,2011
...,...,...,...,...,...,...,...,...
433,"Congressional District 6 (113th Congress), Wis...",41.7,4.3,90.3,1.3,0.4,2.3,2011
434,"Congressional District 7 (113th Congress), Wis...",43.4,2.0,92.3,0.8,2.0,1.5,2011
435,"Congressional District 8 (113th Congress), Wis...",39.8,4.7,87.9,1.2,2.4,2.2,2011
436,Congressional District (at Large) (113th Congr...,36.6,8.9,84.7,1.3,2.0,0.9,2011
437,Resident Commissioner District (at Large) (113...,38.6,99.1,0.6,0.1,0.0,0.0,2011

### Text Modification
Again, we can borrow our other functions.

In [41]:
def textProcessing(dataframe):
    dataframe['state'] = dataframe['Congressional District'].str.extract(r',\s([A-Za-z\s]+)$')

    state_abbr = {
        'Alabama': 'AL', 'Alaska':'AK', 'Arizona':'AZ', 'Arkansas':'AR', 'California':'CA', 'Colorado':'CO', 
        'Connecticut':'CT','Delaware':'DE','Florida':'FL','Georgia':'GA', 'Hawaii':'HI','Idaho':'ID','Illinois':'IL',
        'Indiana':'IN', 'Iowa':'IA', 'Kansas':'KS', 'Kentucky':'KY', 'Louisiana':'LA', 'Maine':'ME', 'Maryland':'MD',
        'Massachusetts':'MA', 'Michigan':'MI', 'Minnesota':'MN', 'Mississippi':'MS', 'Missouri':'MO', 'Montana':'MT',
        'Nebraska':'NE', 'Nevada':'NV', 'New Hampshire':'NH', 'New Jersey':'NJ', 'New Mexico':'NM','New York':'NY', 'North Carolina':'NC',
        'North Dakota':'ND', 'Ohio':'OH', 'Oklahoma':'OK', 'Oregon':'OR', 'Pennsylvania':'PA', 'Rhode Island':'RI', 
        'South Carolina':'SC', 'South Dakota':'SD', 'Tennessee':'TN', 'Texas':'TX', 'Utah':'UT', 'Vermont':'VT',
        'Virginia':'VA', 'Washington':'WA', 'West Virginia':'WV', 'Wisconsin':'WI', 'Wyoming':'WY'
    }

    dataframe['state_po'] = dataframe['state'].map(state_abbr)
    dataframe['district'] = dataframe['Congressional District'].str.extract(r'District (\d+)')

    dataframe = dataframe.dropna(subset=['state_po'])
    dataframe['district'] = dataframe['district'].fillna(0)

    dataframe = dataframe.drop(['state', 'Congressional District'], axis = 1)

    return dataframe

ACS2011 = textProcessing(ACS2011)
ACS2011

C:\Users\finco\AppData\Local\Temp\ipykernel_25056\3284641503.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,38.5,3.0,65.4,27.9,0.7,1.4,2011,AL,1
2,37.9,3.2,62.6,31.1,0.3,1.0,2011,AL,2
3,37.4,2.7,68.3,25.5,0.2,1.5,2011,AL,3
4,40.3,6.2,83.8,7.3,0.7,0.6,2011,AL,4
5,38.7,4.9,73.4,17.2,0.6,1.7,2011,AL,5
...,...,...,...,...,...,...,...,...,...
432,40.7,5.6,88.5,1.7,0.2,2.4,2011,WI,5
433,41.7,4.3,90.3,1.3,0.4,2.3,2011,WI,6
434,43.4,2.0,92.3,0.8,2.0,1.5,2011,WI,7
435,39.8,4.7,87.9,1.2,2.4,2.2,2011,WI,8
436,36.6,8.9,84.7,1.3,2.0,0.9,2011,WY,0

## 2013

In [42]:
ACS2013 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2013.DP05-Data.csv')
ACS2013 = dropColumns1315(ACS2013)
ACS2013['year'] = 2013
ACS2013 = textProcessing(ACS2013)
ACS2013

C:\Users\finco\AppData\Local\Temp\ipykernel_25056\3284641503.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,38.5,3.0,65.4,27.9,0.7,1.4,2013,AL,1
2,37.9,3.2,62.6,31.1,0.3,1.0,2013,AL,2
3,37.4,2.7,68.3,25.5,0.2,1.5,2013,AL,3
4,40.3,6.2,83.8,7.3,0.7,0.6,2013,AL,4
5,38.7,4.9,73.4,17.2,0.6,1.7,2013,AL,5
...,...,...,...,...,...,...,...,...,...
432,40.7,5.6,88.5,1.7,0.2,2.4,2013,WI,5
433,41.7,4.3,90.3,1.3,0.4,2.3,2013,WI,6
434,43.4,2.0,92.3,0.8,2.0,1.5,2013,WI,7
435,39.8,4.7,87.9,1.2,2.4,2.2,2013,WI,8
436,36.6,8.9,84.7,1.3,2.0,0.9,2013,WY,0

## 2015

In [43]:
ACS2015 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2015.DP05-Data.csv')
ACS2015 = dropColumns1315(ACS2015)
ACS2015['year'] = 2015
ACS2015 = textProcessing(ACS2015)
ACS2015

C:\Users\finco\AppData\Local\Temp\ipykernel_25056\3284641503.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,39.4,3.0,65.0,28.2,1.1,1.3,2015,AL,1
2,38.0,3.0,62.2,31.6,0.2,1.0,2015,AL,2
3,38.5,3.0,68.1,25.1,0.2,1.5,2015,AL,3
4,40.5,6.3,83.9,7.1,0.4,0.4,2015,AL,4
5,39.8,5.1,72.8,17.4,0.5,1.6,2015,AL,5
...,...,...,...,...,...,...,...,...,...
432,40.8,5.8,87.4,2.2,0.2,2.5,2015,WI,5
433,41.8,4.5,89.6,1.6,0.4,2.5,2015,WI,6
434,44.4,2.2,91.8,0.6,1.9,1.6,2015,WI,7
435,40.6,5.0,87.2,1.2,2.4,2.3,2015,WI,8
436,36.5,9.9,84.1,0.8,2.1,0.8,2015,WY,0

## 2017
The feature codes changed here, so we need to re-code our drop columns function.

In [44]:
def dropColumns17(dataframe):
    featureList = ['NAME', # CD Name
                    'DP05_0018E', # Median age   DIFFERENT
                    'DP05_0071PE', # % Hispanic or Latino    DIFFERENT
                    'DP05_0077PE', # % White, not hispanic    DIFFERENT
                    'DP05_0078PE', # % Black, not hispanic     DIFFERENT
                    'DP05_0079PE', # % Native american, not hispanic   DIFFERENT
                    'DP05_0080PE', # % Asian, not hispanic    DIFFERENT
                    ]

    featureDict = {
        'NAME': 'Congressional District',
        'DP05_0018E':'MedianAge',
        'DP05_0071PE':'Hispanic',
        'DP05_0077PE':'White',
        'DP05_0078PE':'Black',
        'DP05_0079PE':'NativeAmerican',
        'DP05_0080PE':'Asian'
    }

    dataframe = dataframe[featureList]
    dataframe = dataframe.rename(columns = featureDict)
    dataframe = dataframe.drop(index = 0)
    return dataframe

In [45]:
ACS2017 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2017.DP05-Data.csv')
ACS2017 = dropColumns17(ACS2017)
ACS2017['year'] = 2017
ACS2017 = textProcessing(ACS2017)
ACS2017 = ACS2017.iloc[:435]
ACS2017

C:\Users\finco\AppData\Local\Temp\ipykernel_25056\3284641503.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,40.0,3.1,65.0,27.8,0.9,1.5,2017,AL,1
2,38.5,3.6,62.0,30.6,0.3,1.0,2017,AL,2
3,38.1,2.9,67.2,26.3,0.2,1.6,2017,AL,3
4,40.7,6.7,83.0,7.1,0.7,0.6,2017,AL,4
5,39.5,5.2,72.2,17.8,0.7,1.8,2017,AL,5
...,...,...,...,...,...,...,...,...,...
432,41.6,5.8,86.7,2.4,0.2,3.0,2017,WI,5
433,42.1,4.6,89.1,1.7,0.3,2.5,2017,WI,6
434,44.4,2.3,91.5,0.7,1.9,1.7,2017,WI,7
435,40.5,5.4,86.7,1.5,2.2,2.3,2017,WI,8
436,37.5,10.0,84.0,0.9,2.1,0.8,2017,WY,0

## 2019

In [46]:
ACS2019 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2019.DP05-Data.csv')
ACS2019 = dropColumns17(ACS2019)
ACS2019['year'] = 2019
ACS2019 = textProcessing(ACS2019)
ACS2019 = ACS2019.iloc[:435]
ACS2019

C:\Users\finco\AppData\Local\Temp\ipykernel_25056\3284641503.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,40.4,3.3,65.0,27.2,0.9,1.4,2019,AL,1
2,39.0,3.9,60.4,32.1,0.2,1.3,2019,AL,2
3,38.9,2.9,67.0,26.1,0.3,1.8,2019,AL,3
4,41.1,6.9,82.9,7.4,0.4,0.5,2019,AL,4
5,39.7,5.5,71.8,18.1,0.5,1.7,2019,AL,5
...,...,...,...,...,...,...,...,...,...
432,42.5,6.5,86.0,2.3,0.2,3.0,2019,WI,5
433,42.0,4.8,88.4,1.9,0.5,2.6,2019,WI,6
434,45.0,2.6,91.2,0.7,2.0,1.6,2019,WI,7
435,40.8,5.6,86.2,1.5,2.3,2.4,2019,WI,8
436,38.1,10.1,83.7,1.1,2.1,0.8,2019,WY,0

## 2021
The feature codes changed again. Time to re-write dropColumns again.

In [47]:
def dropColumns21(dataframe):
    featureList = ['NAME', # CD Name
                    'DP05_0018E', # Median age   
                    'DP05_0076PE', # % Hispanic or Latino    DIFFERENT  AGAIN
                    'DP05_0082PE', # % White, not hispanic    DIFFERENT  AGAIN
                    'DP05_0083PE', # % Black, not hispanic     DIFFERENT  AGAIN
                    'DP05_0084PE', # % Native american, not hispanic   DIFFERENT AGAIN
                    'DP05_0085PE', # % Asian, not hispanic    DIFFERENT  AGAIN
                    ]

    featureDict = {
        'NAME': 'Congressional District',
        'DP05_0018E':'MedianAge',
        'DP05_0076PE':'Hispanic',
        'DP05_0082PE':'White',
        'DP05_0083PE':'Black',
        'DP05_0084PE':'NativeAmerican',
        'DP05_0085PE':'Asian'
    }

    dataframe = dataframe[featureList]
    dataframe = dataframe.rename(columns = featureDict)
    dataframe = dataframe.drop(index = 0)
    return dataframe

In [48]:
ACS2021 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2023.DP05-Data.csv')
ACS2021 = dropColumns21(ACS2021)
ACS2021['year'] = 2021
ACS2021 = textProcessing(ACS2021)
ACS2021 = ACS2021.iloc[:435]
ACS2021

C:\Users\finco\AppData\Local\Temp\ipykernel_25056\3284641503.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,41.1,4.0,63.8,26.1,0.5,1.6,2021,AL,1
2,39.0,5.2,58.8,30.3,0.2,1.4,2021,AL,2
3,40.1,4.2,67.0,23.2,0.2,1.6,2021,AL,3
4,40.8,8.1,80.6,6.3,0.3,0.8,2021,AL,4
5,39.4,7.0,68.6,17.4,0.3,2.0,2021,AL,5
...,...,...,...,...,...,...,...,...,...
432,43.0,6.0,85.9,1.8,0.1,3.0,2021,WI,5
433,42.7,6.0,86.0,2.0,0.3,2.6,2021,WI,6
434,45.3,3.0,89.4,0.4,1.6,1.5,2021,WI,7
435,41.5,6.7,83.7,1.5,1.8,2.5,2021,WI,8
436,39.3,10.8,81.3,0.7,1.6,0.8,2021,WY,0

## 2023

In [49]:
ACS2023 = pd.read_csv('C:/Users/finco/Documents/GitHub/DS496Capstone/Raw Data/Race/ACSDP1Y2023.DP05-Data.csv')
ACS2023 = dropColumns21(ACS2023)
ACS2023['year'] = 2023
ACS2023 = textProcessing(ACS2023)
ACS2023 = ACS2023.iloc[:435]
ACS2023

C:\Users\finco\AppData\Local\Temp\ipykernel_25056\3284641503.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['district'] = dataframe['district'].fillna(0)

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
1,41.1,4.0,63.8,26.1,0.5,1.6,2023,AL,1
2,39.0,5.2,58.8,30.3,0.2,1.4,2023,AL,2
3,40.1,4.2,67.0,23.2,0.2,1.6,2023,AL,3
4,40.8,8.1,80.6,6.3,0.3,0.8,2023,AL,4
5,39.4,7.0,68.6,17.4,0.3,2.0,2023,AL,5
...,...,...,...,...,...,...,...,...,...
432,43.0,6.0,85.9,1.8,0.1,3.0,2023,WI,5
433,42.7,6.0,86.0,2.0,0.3,2.6,2023,WI,6
434,45.3,3.0,89.4,0.4,1.6,1.5,2023,WI,7
435,41.5,6.7,83.7,1.5,1.8,2.5,2023,WI,8
436,39.3,10.8,81.3,0.7,1.6,0.8,2023,WY,0

## Tying it all together

In [50]:
raceData = pd.concat([ACS2011, ACS2013, ACS2015, ACS2017, ACS2019, ACS2021, ACS2023], axis = 0, ignore_index = True)
raceData['year'] = raceData['year'] + 1
raceData

,MedianAge,Hispanic,White,Black,NativeAmerican,Asian,year,state_po,district
0,38.5,3.0,65.4,27.9,0.7,1.4,2012,AL,1
1,37.9,3.2,62.6,31.1,0.3,1.0,2012,AL,2
2,37.4,2.7,68.3,25.5,0.2,1.5,2012,AL,3
3,40.3,6.2,83.8,7.3,0.7,0.6,2012,AL,4
4,38.7,4.9,73.4,17.2,0.6,1.7,2012,AL,5
...,...,...,...,...,...,...,...,...,...
3040,43.0,6.0,85.9,1.8,0.1,3.0,2024,WI,5
3041,42.7,6.0,86.0,2.0,0.3,2.6,2024,WI,6
3042,45.3,3.0,89.4,0.4,1.6,1.5,2024,WI,7
3043,41.5,6.7,83.7,1.5,1.8,2.5,2024,WI,8
3044,39.3,10.8,81.3,0.7,1.6,0.8,2024,WY,0

In [51]:
raceData.to_csv('raceData.csv', index=False)